In [8]:
import yfinance as yf

In [7]:
symbol = 'AAPL'

In [12]:
number_of_days = 5

In [13]:
ticker = yf.Ticker(symbol)
df = ticker.history(period=f"{number_of_days}d")

In [14]:
df.reset_index(inplace=True)

In [15]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-05-02 00:00:00-04:00,206.089996,206.990005,202.160004,205.350006,101010600,0.0,0.0
1,2025-05-05 00:00:00-04:00,203.100006,204.100006,198.210007,198.889999,69018500,0.0,0.0
2,2025-05-06 00:00:00-04:00,198.210007,200.649994,197.020004,198.509995,51216500,0.0,0.0
3,2025-05-07 00:00:00-04:00,199.169998,199.440002,193.250000,196.250000,68616900,0.0,0.0
4,2025-05-08 00:00:00-04:00,197.720001,200.050003,194.679993,197.490005,50369700,0.0,0.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5 non-null      datetime64[ns, America/New_York]
 1   Open          5 non-null      float64
 2   High          5 non-null      float64
 3   Low           5 non-null      float64
 4   Close         5 non-null      float64
 5   Volume        5 non-null      int64
 6   Dividends     5 non-null      float64
 7   Stock Splits  5 non-null      float64
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(1)
memory usage: 448.0 bytes

In [27]:
data_path = f"{symbol}_performance_in_the_past_{number_of_days}.csv".lower()
data_path

'aapl_performance_in_the_past_5.csv'

In [29]:
df.to_csv(
    data_path, index=False)

In [32]:
from tabulate import tabulate

# Convert the top 5 rows of the DataFrame to a Markdown table
markdown_table = tabulate(df.head(), headers='keys',
                          tablefmt='pipe', showindex=False)
print(markdown_table)

| Date                      |   Open |   High |    Low |   Close |    Volume |   Dividends |   Stock Splits |
|:--------------------------|-------:|-------:|-------:|--------:|----------:|------------:|---------------:|
| 2025-05-02 00:00:00-04:00 | 206.09 | 206.99 | 202.16 |  205.35 | 101010600 |           0 |              0 |
| 2025-05-05 00:00:00-04:00 | 203.1  | 204.1  | 198.21 |  198.89 |  69018500 |           0 |              0 |
| 2025-05-06 00:00:00-04:00 | 198.21 | 200.65 | 197.02 |  198.51 |  51216500 |           0 |              0 |
| 2025-05-07 00:00:00-04:00 | 199.17 | 199.44 | 193.25 |  196.25 |  68616900 |           0 |              0 |
| 2025-05-08 00:00:00-04:00 | 197.72 | 200.05 | 194.68 |  197.49 |  50369700 |           0 |              0 |